section.about
  .about__wrapper-description
    h1.about__title #{pages.index.about.title}
    p.about__description #{pages.index.about.description}
    ul.about__list #{pages.index.about.worksTitle}
      each item in pages.index.about.works
        li.about__list-item #{item.name}
  .about__wrapper-data
    img.about__logo(src=logoSrc alt=logoAlt)
    table.table
      caption.table__title #{pages.index.about.table.tableTitle}
      tr
        each number in pages.index.about.table.numbers
            td.table__number #{number.indicator}
        tr
        each head in pages.index.about.table.heads
          th.table__head #{head.name}







