section.about
  .about__wrapper-description
    h1.about__title #{pages.index.about.title}
    p.about__description #{pages.index.about.description}
    h3.about__subtitle #{pages.index.about.worksTitle}
    ul.about__list
      each item in pages.index.about.works
        li.about__list-item #{item.name}
  .about__wrapper-data
    picture
      source(type="image/webp" srcset=pages.index.about.logo.src+"webp")
      source(type="image/png" srcset=pages.index.about.logo.src+"png")
      img.about__logo(src=pages.index.about.logo.src + "png" alt=pages.index.about.logo.alt width=pages.index.about.logo.width height=pages.index.about.logo.height)
    include table.pug






