section.about
  .about__wrapper-description
    h1.about__title #{about.title}
    p.about__description #{about.description}
    h3.about__subtitle #{about.worksTitle}
    ul.about__list
      each item in about.works
        li.about__list-item #{item.name}
  .about__wrapper-data
    picture
      source(type="image/webp" srcset=about.logo.src+"webp")
      source(type="image/png" srcset=about.logo.src+"png")
      img.about__logo(src=about.logo.src + "png" alt=about.logo.alt width=about.logo.width height=about.logo.height)
    h3.about__subtitle #{about.subtitle}
    include table.pug






