section.about
  .about__wrapper-description
    h1.about__title #{about.title}
    p.about__description #{about.description}
    h3.about__subtitle #{about.worksTitle}
    ul.about__list
      each item in about.works
        li.about__list-item #{item.name}
  .about__wrapper-data
    +picture("about__logo", about.logo.alt, false, about.logo.name, "png", about.logo.width, about.logo.height)
    h3.about__subtitle #{about.subtitle}
    include table.pug
