section.examples
  each example in pages.index.examples
    .examples__label-wrapper
      picture
        source(type="image/webp" srcet=example.src+"webp")
        source(type="image/png" srcet=example.src+"png")
        img.examples__label(src=example.src+"png" alt=example.alt width=example.width height=example.height)
