nav.nav
  if index
    a.nav__logo(href="")
      img(src=nav.logo.src alt=nav.logo.name width=nav.logo.width height=nav.logo.height)
  else
    a.nav__logo(href=nav[0].url)
      img(alt=nav.logo.name)
  ul.menu.menu--no-js
    each item in nav.menu
      if currentPageLink === item.url
        li
          a.menu__item(class="menu__item--active" href="") #{item.name}
      else
        li
          a.menu__item(href=item.url) #{item.name}
  ul.menu.menu--user.menu--no-js
    each item in nav.user
      li
        a.menu__item(class=item.class href=item.url) #{item.name}
  button.toggle.nav__toggle
    span.hamburger.nav__hamburger

