each product in pages.catalog.products.product
  a.product(href="")
    .product__top-panel
      - for (var i =0; i < 3; i++)
      span.product__circle
    picture
      source(type="image/webp" srcet=product.src+"webp")
      source(type="image/jpg" srcet=product.src + "jpg")
      img.product__image(src=product.src+"jpg" alt=product.alt width="360" height="576")
    .product__overlay
      h3.product__title #{product.title}
      p.product__description #{product.description}
      span.product__price.button #{product.price}
